.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #ecf0f1;
}

.login-card {
  width: 100%;
  max-width: 400px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form mat-form-field {
  width: 100%;
}

.login-form mat-card-actions {
  display: flex;
  justify-content: flex-end;
  padding: 0 8px 8px;
}

.login-general-error {
  font-size: 14px;
  margin-top: -16px;
  margin-bottom: 16px;
  text-align: center;
  display: block;
}
